.header{
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
    height: 80px;
    
}
.header a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
    font-family: 'Lato';
    font-size: 17px;
    line-height: 20px;
}
.header a:hover{
    color: rgb(255, 81, 0);
   
}